<p>type-list works!</p>

<div class="col-6 text-right ">
    <button class="btn-primary" [routerLink]="['/admin/type/add']" >+ Add Type</button>
</div>
<div class="col-12">
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let type of types">
                <td>{{ type.id }}</td>
                <td>{{ type.name }}</td>
                <td>
                    <button class="btn btn-warning mr-2" [routerLink]="['/admin/type/edit', type.id]" >Edit</button>
                    <button class="btn btn-danger" (click)="deleteType(type.id)" >Delete</button>
                </td>
            </tr>
        </tbody>
      </table>
</div>